@use '../style.scss';
// Variables
$background-color: #f9f9f9;
$border-color: #ddd;
$shadow-color: rgba(0, 0, 0, 0.1);
$primary-color: #007BFF;
$footer-bg-color: #333;
$footer-text-color: white;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: black;
}

.product-section {
    padding: 20px;

    .product-grid {
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    .product-card {
        background-color: $background-color;
        border: 1px solid $border-color;
        border-radius: 8px;
        overflow: hidden;
        box-shadow: 0 4px 8px $shadow-color;
        width: 300px;
        text-align: center;

        img {
            width: 100%;
            height: auto;
        }

        .product-info {
            padding: 15px;

            h2 {
                font-size: 1.5em;
                margin-bottom: 10px;
            }

            p {
                font-size: 1em;
                margin-bottom: 15px;
                color: #555;

                &.price {
                    font-size: 1.2em;
                    font-weight: bold;
                    color: $primary-color;
                }
            }
        }
    }
}
